:root {
    /* Colours */
    --light-purple: hsla(250, 100%, 88%);
    --medium-purple: hsla(252, 100%, 63%, 1);
    --dark-purple: hsla(250, 19%, 40%, 1);
    --off-white: hsla(0, 0%, 96%, 1);
    --almost-white: hsla(0, 0%, 100%, 1);
    --light-charcoal: hsla(0, 0%, 24%, 1);
    --charcoal: hsla(0, 0%, 21%, 1);
    --white: hsla(0, 0%, 100%);
    --darkest-blue: hsla(215, 28%, 17%, 1);
    --dark-blue: hsla(215, 30%, 22%, 1);
    /* Testing Colours */
    --red: hsla(2, 80%, 47%, 1);
    --green: hsla(137, 100%, 45%);
    --goldenrod: hsla(44, 96%, 71%);
    --electric-purple: hsla(273, 98%, 60%);
    --bright-magenta: hsla(291, 82%, 39%);

    /* Font */
    /* font-family: 'Inter', sans-serif; */
    
    --fs-800: 58px;
    --fs-700: 28px;
    --fs-600: 24px;
    --fs-500: 20px;
    --fs-400: 16px;
    --fs-300: 14px;

    /* font sizes in Figma: 
    58px, 28px, 20px, 16px, 14px, */
}

body {
    background-color: var(--darkest-blue);
    font-family: 'Inter', sans-serif;
}

h2 {
    text-align: center;
}

h4 {
    text-align: left;
}

p {
    margin:14px 40px;
    line-height: 1.4;
}

label {
    font-size: var(--fs-700);
}

li {
    margin: 14px 45px;
}

a {
    color: var(--off-white);
}
#container {
    /* border: var(--red) solid 2px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 550px;
}

#head {
    /* border: var(--green) solid 4px; */
    background-color: var(--medium-purple);
    color: var(--almost-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height:1185px;
}

.img-yarn-icon {
    width: 60px;
    margin: 20px;
    border-radius: 5px;
}

#yards-per-ball {
    width: 180px;
    height: 83px;
    font-size: var(--fs-800);
    text-align: center;
    background-color: var(--medium-purple);
    color: var(--almost-white);
    border: 2px solid var(--light-purple);
    border-radius: 5px;
    margin: 15px;
}

#btn-calculate {
    width: 440px;
    height: 60px;
    color: var(--light-charcoal);
    background-color: var(--almost-white);
    border: none;
    border-radius: 5px;
    margin: 16px;
    font-size: var(--fs-500);
}

#conversions {
    /* border: var(--goldenrod) solid 2px; */
    background-color: var(--almost-white);
    width: 550px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.answer-box {
    /* border: var(--bright-magenta) solid 2px; */
    background-color: var(--off-white);
    width: 500px;
    height: 108px;
    margin: 12px;
    text-align: center;
    border-radius: 5px;
    color: var(--dark-purple);
    font-size: var(--fs-500);
}

#footer {
    width: 550px;
    height:1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--medium-purple);
    color: var(--almost-white);
}

/* UTILITY CLASSES */
/* Do I actually need these, or kiss? */

/* font sizes */ 

.fs-300 { font-size: var(--fs-300); }
.fs-400 { font-size: var(--fs-400); }
.fs-500 { font-size: var(--fs-500); }
.fs-600 { font-size: var(--fs-600); }
.fs-700 { font-size: var(--fs-700); }
.fs-800 { font-size: var(--fs-800); }

/* font weight */

.fw-lighter {
    font-weight: 400;
}

.fw-bolder {
    font-weight: 600;
}

.fc-darker {
    color: var(--electric-purple);
}

/* layout */

.article {
    color: var(--charcoal);
    background-color: var(--almost-white);

}
